@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    AMC Bridge LLC<br />
    Sumy office, room #5<br />
    Oleksandr Symonenko<br />
</address>

<address>
    <strong>Email of perspective C# developer:</strong>   <a href="mailto:osymonenko@amcbridge.com">osymonenko@amcbridge.com</a><br />
</address>