@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h5>presentaVR demo:</h5>

    <h6>video demo here</h6>

    <h5>
        presentaVR is an application for presentations and VR demonstrations.
        It is a combination of voice recognition and "Unity3D" engine (also got web side and DB as well).
    </h5>
    <p><a href="https://teams.microsoft.com/l/chat/0/0?users=%3Cosymonenko@amcbridge.com%3E" class="btn btn-primary btn-lg">Like it? &raquo;</a></p>
</div>